.Folder {
  max-width: 100px;
  margin: 10px 4rem;
  cursor: pointer;
  line-height: 0;
  padding: 10px;
  /* margin-left: 5rem; */
}

.Body img {
  width: 100%;
}

.Body :hover {
  transform: scale(1.03);
}

.Footer p {
  line-height: 1;
  text-align: center;
  font-size: 11px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* .Folder:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), -1px -1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
} */

.Footer p:hover {
  overflow: visible;
}
